<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Identificação
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
      <ion-card>

    <ion-card-header>
      <ion-card-title>Giovana Santos Elias da Silva</ion-card-title>
      <ion-card-subtitle>ADS0301M | CG | Matutino</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <img src="assets/img/eu.jpeg" alt="Minha foto" class="foto" />
      <p><strong>Matrícula: 25108635</strong> </p>
    </ion-card-content>

  </ion-card>
  </div>

</ion-content>
